<div class="photos-container col-lg-12">
	<div id="photos-carousel" class="image-carousel owl-carousel">
		<div>
			<%= image_tag("dani_brett_hr1.jpg") %>
		</div>
		<div>
			<%= image_tag("dani_brett_hr2.jpg") %>
		</div>
		<div>
			<%= image_tag("dani_brett_hr3.jpg") %>
		</div>
		<div>
			<%= image_tag("dani_brett_hr0.jpg") %>
		</div>
		<div>
			<%= image_tag("dani_brett_hr4.jpg") %>
		</div>
		<div>
			<%= image_tag("dani_brett_hr5.jpg") %>
		</div>
	</div>
</div>