<!DOCTYPE html>
<html>
<head>
  <title>Dani &amp; Brett</title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render "components/nav" %>

	<div class="page-body">
		<%= yield %>
	</div>

	<%= render "components/footer" %>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
